body {
  background-image: url("../img/borobudur.jpg");
}
.justify {
  background-image: url("../img/avocado.jpg");
  border: solid;
  border-color: red;
  margin-left: 350px;
  margin-right: 300px;
  width: auto;
  height: 500px;
  margin-bottom: 10px;
}
p {
  text-align: justify;
  color: blue;
}
.repeat {
  background-image: url("../img/avocado.jpg");
  border: solid;
  border-color: red;
  margin-left: 350px;
  margin-right: 300px;
  width: auto;
  height: 500px;
}
